@inherits LayoutComponentBase
@layout MainLayout

<!-- breadcrumb -->
<UiBreadcrumb Segments="_segments" />
<!-- ./breadcrumb -->

<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

  <!-- sidebar -->
  <UiAccountSidebar/>
  <!-- ./sidebar -->

  <!-- content -->
  @Body
  <!-- ./content -->

</div>

@code{

  private readonly UiBreadcrumb.BreadcrumbSegment[] _segments
    = { new("Mon compte", "/account") };

}