@inherits TWTransitionalComponentBase

<div class="@TransitionClasses @AdditionalClasses" @attributes="InputAttributes">
  @ChildContent
</div>

@code
{
  [CascadingParameter]
  public TWTransitionalElement Parent { get; set; }

  public async Task Toggle()
  {
    await InvokeAsync(async () =>
    {
      if (Parent.IsOpened)
        await ShowAsync();
      else
        await HideAsync();
    });
  }

  protected override void OnInitialized()
  {
  //Console.WriteLine("Initialized" + GetHashCode());
    Parent.AddTransition(this);
  }
}