@page "/checkout"
@inherits FluxorComponent
@inject IState<BasketState> BasketState
@inject BasketDispatcher BasketDispatcher

<!-- breadcrumb -->
<UiBreadcrumb Segments="_segments"/>
<!-- ./breadcrumb -->

<!-- wrapper -->
<div class="container grid grid-cols-12 items-start pb-16 pt-4 gap-6">

  <div class="col-span-8 border border-gray-200 p-4 rounded">
    <h3 class="text-lg font-medium capitalize mb-4">
      Passer commande
    </h3>
    <div class="space-y-4">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label class="text-gray-600" for="first-name">
            Prénom
            <span class="text-primary">*</span>
          </label>
          <input class="input-box" id="first-name" name="first-name" type="text">
        </div>
        <div>
          <label class="text-gray-600" for="last-name">
            Nom
            <span class="text-primary">*</span>
          </label>
          <input class="input-box" id="last-name" name="last-name" type="text">
        </div>
      </div>
      <div>
        <label class="text-gray-600" for="company">
          Société
        </label>
        <input class="input-box" id="company" name="company" type="text">
      </div>
      <div>
        <label class="text-gray-600" for="region">
          Pays / Région
        </label>
        <input class="input-box" id="region" name="region" type="text">
      </div>
      <div>
        <label class="text-gray-600" for="address">
          Adresse
        </label>
        <input class="input-box" id="address" name="address" type="text">
      </div>
      <div>
        <label class="text-gray-600" for="city">
          Ville
        </label>
        <input class="input-box" id="city" name="city" type="text">
      </div>
      <div>
        <label class="text-gray-600" for="phone">
          Numéro de téléphone
        </label>
        <input class="input-box" id="phone" name="phone" type="text">
      </div>
      <div>
        <label class="text-gray-600" for="email">
          Adresse email
        </label>
        <input class="input-box" id="email" name="email" type="email">
      </div>
    </div>

  </div>

  <div class="col-span-4 border border-gray-200 p-4 rounded">
    <h4 class="text-gray-800 text-lg mb-4 font-medium uppercase">
      Récapitulatif de la commande
    </h4>
    <div class="space-y-2">
      @foreach ((ProductResponse? product, int quantity) in BasketState.Value.ProductQuantities)
      {
        <div class="flex justify-between">
          <div>
            <h5 class="text-gray-800 font-medium">
              @product.ProductName
              <span class="text-gray-600 font-normal">
                x @quantity
              </span>
            </h5>
            @* <p class="text-sm text-gray-600">Size: M</p> *@
          </div>
          @* <p class="text-gray-600"> *@
          @*   x @quantity *@
          @* </p> *@
          <p class="text-gray-800 font-medium">
            @GetSubtotalForProduct(product, quantity)
          </p>
        </div>
      }
    </div>

    <div class="flex justify-between border-b border-gray-200 mt-1 text-gray-800 font-medium py-3 uppercas">
      <p>sous-total</p>
      <p>@BasketState.Value.TotalPrice €</p>
    </div>

    <div class="flex justify-between border-b border-gray-200 mt-1 text-gray-800 font-medium py-3 uppercas">
      <p>frais de livraison</p>
      <p>Gratuit</p>
    </div>

    <div class="flex justify-between text-gray-800 font-medium py-3 uppercas">
      <p class="font-semibold">Total</p>
      <p>@BasketState.Value.TotalPrice €</p>
    </div>

    <div class="flex items-center mb-4 mt-2">
      <input class="text-primary focus:ring-0 rounded-sm cursor-pointer w-3 h-3" id="aggrement" name="aggrement"
             type="checkbox">
      <label class="text-gray-600 ml-3 cursor-pointer text-sm" for="aggrement">
        J'ai lu et j'accepte les <a href="#" class="text-primary">conditions générales de vente</a>
      </label>
    </div>
    
    @if(BasketState.Value.ProductQuantities.Any())
    {
      <button
        class="block w-full py-3 px-4 text-center text-white bg-primary border border-primary rounded-md hover:bg-transparent hover:text-primary transition font-medium"
        @onclick="() => BasketDispatcher.PlaceOrder()">
        Passer commande
      </button>
    }
    else
    {
      <button class="block w-full py-3 px-4 text-center text-white bg-gray-400 border border-gray-400 rounded-md hover:bg-gray-500 transition font-medium" disabled>
        Passer commande
      </button>
    }

    <button class="block w-full py-3 px-4 text-center text-primary bg-transparent border border-primary rounded-md hover:bg-primary hover:text-white transition font-medium mt-2"
       @onclick="() => BasketDispatcher.ClearBasket()">
      Vider le panier
    </button>
  </div>

</div>
<!-- ./wrapper -->

@code {

  private readonly UiBreadcrumb.BreadcrumbSegment[] _segments = {
    new("Passer commande", Routes.CHECKOUT_ROUTE)
  };

  private string GetSubtotalForProduct(ProductResponse? product, int quantity)
  {
    if (product is null)
    {
      return "0,00";
    }
    
    decimal subtotal = product.ProductPrice * quantity;
    
    return subtotal
      .ToString("C")
      .Replace(".", ",");
  }

}