@page "/faq"

<!-- breadcrumb -->
<UiBreadcrumb Segments="_segments"/>
<!-- ./breadcrumb -->

<!-- content -->
<h1 class="text-center">Foire aux questions</h1>

<h2 id="the-company">La société</h2>
<h3 id="about">A propos</h3>
<p>BodyRocky est une société de vente en ligne de produits de sport et de bien-être.</p>

<h3 id="contact">Contact</h3>
<p>Vous pouvez nous contacter par email à l'adresse <a href="mailto:contact@BodyRocky.be">BodyRocky</a>.</p>

<h3 id="jobs">Offres d'emploi</h3>
<p>Nous n'avons pas d'offres d'emploi en ce moment.</p>

<h3 id="blog">Blog</h3>
<p>Vous pouvez consulter notre blog à l'adresse <a href="https://blog.BodyRocky.be">blog.BodyRocky.be</a>.</p>

<h2 id="help">Aide</h2>
<h3 id="how-to-order">Livraison</h3>
<p>Les commandes sont livrées en Belgique et en France. Les frais de livraison sont de 5€ pour la Belgique et de 10€ pour la France. Les commandes sont livrées par Colissimo.</p>

<h3 id="money-back">Retour</h3>
<p>Vous disposez d'un délai de 14 jours pour retourner votre commande. Les frais de retour sont à votre charge. Pour plus d'informations, consultez notre <a href="/Legal/Return">politique de retour</a>.</p>

<h3 id="payment">Conditions générales de vente</h3>
<p>Vous pouvez consulter nos conditions générales de vente à l'adresse <a href="/Legal/Sales">BodyRocky</a>.</p>

<h3 id="confidentiality">Politique de confidentialité</h3>
<p>Vous pouvez consulter notre politique de confidentialité à l'adresse <a href="/Legal/Confidentiality">BodyRocky</a>.</p>

@code {

  private readonly UiBreadcrumb.BreadcrumbSegment[] _segments = {
    new("Foires aux questions", Routes.HOME_ROUTE),
  };
  
}