@page "/"
@inherits FluxorComponent
@inject IState<CatalogOverviewState> CatalogOverviewState

<!-- banner -->
<div 
  class="bg-cover bg-no-repeat bg-center flex items-center justify-center"
  style="background-image: url('assets/images/banner-bg.jpg');">
  <div class="bg-black bg-opacity-40 w-full py-36">
    <div class="container mx-auto">
      <h1 class="text-6xl text-white font-medium mb-4">
        Bien plus qu'un magasin<br/>d'articles de sport
      </h1>
      <p class="text-white font-medium mb-4">
        Chez BodyRocky, vous trouverez tout ce dont vous avez besoin pour vous entraîner et atteindre vos objectifs.
        <br/>
        Nous vous proposons une large gamme de produits de qualité, à des prix imbattables.
      </p>
      <div class="mt-12">
        <NavLink
          href="@Routes.SHOP_ROUTE"
          class="bg-primary border border-primary text-white px-8 py-3 font-medium 
                rounded-md hover:bg-transparent hover:text-primary">
          Découvrir
        </NavLink>
      </div>
    </div>
  </div>
</div>
<!-- ./banner -->

<!-- features -->
<div class="container py-16">
  <div class="w-10/12 grid grid-cols-3 gap-6 mx-auto justify-center">
    <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
      <img src="assets/images/icons/delivery-van.svg" alt="Delivery" class="w-12 h-12 object-contain">
      <div>
        <h4 class="font-medium capitalize text-lg">
          Expédition gratuite
        </h4>
        <p class="text-gray-500 text-sm">
          A partir de 200€ d'achat
        </p>
      </div>
    </div>
    <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
      <img src="assets/images/icons/money-back.svg" alt="Delivery" class="w-12 h-12 object-contain">
      <div>
        <h4 class="font-medium capitalize text-lg">
          Retour gratuit
        </h4>
        <p class="text-gray-500 text-sm">
          Retour gratuit pendant 30 jours
        </p>
      </div>
    </div>
    <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
      <img src="assets/images/icons/service-hours.svg" alt="Delivery" class="w-12 h-12 object-contain">
      <div>
        <h4 class="font-medium capitalize text-lg">
          24/7 Service client
        </h4>
        <p class="text-gray-500 text-sm">
          Support client
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ./features -->

<!-- categories -->
@if (FeaturedCategories != null)
{
  <div class="container py-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
      Découvrez nos catégories
    </h2>
    <div class="grid grid-cols-3 gap-3">
      @foreach (CategoryResponse category in FeaturedCategories)
      {
        <UiCategoryCard Data="category"/>
      }
    </div>
  </div>
}
<!-- ./categories -->

<!-- new arrival -->
@if (FeaturedProducts != null)
{
  <div class="container pb-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
      Les nouveautés de la semaine
    </h2>
    <div class="grid grid-cols-4 gap-6">
      @foreach (ProductResponse product in FeaturedProducts)
      {
        <UiProductCard Data="product" />
      }
    </div>
  </div>
}
<!-- ./new arrival -->

<!-- ads -->
<div class="container pb-16">
  <NavLink href="@Routes.SHOP_ROUTE">
    <div class="border border-primary rounded-md overflow-hidden">
    <section aria-labelledby="sale-heading" class="relative mx-auto flex max-w-7xl flex-col items-center px-4 pt-24 pb-16 text-center sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:max-w-none">
        <h2 id="sale-heading" class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">
          Obtenez 25% de réduction sur une sélection d'articles
        </h2>
        <p class="mx-auto mt-4 max-w-xl text-xl text-gray-600">
          La plupart de nos produits sont des éditions limitées qui ne reviendront pas. Obtenez vos articles préférés pendant qu'ils sont en stock.
        </p>
        <NavLink href="@Routes.SHOP_ROUTE" class="mt-6 inline-block w-full rounded-md border border-transparent bg-gray-900 py-3 px-8 font-medium text-white hover:bg-gray-800 sm:w-auto">
          Voir les offres spéciales
        </NavLink>
      </div>
    </section>
    </div>
  </NavLink>
</div>
<!-- ./ads -->

<!-- product -->
@if (RecommendedProducts != null)
{
  <div class="container pb-16">
    <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">
      Recommandé pour vous
    </h2>
    <div class="grid grid-cols-4 gap-6">
      @foreach (ProductResponse product in RecommendedProducts)
      {
        <UiProductCard Data="product" />
      }
    </div>
  </div>
}
<!-- ./product -->

@code {

  public IEnumerable<CategoryResponse>? FeaturedCategories
    => CatalogOverviewState.Value?.FeaturedCategories;
  
  public IEnumerable<ProductResponse>? FeaturedProducts
    => CatalogOverviewState.Value?.FeaturedProducts;
  
  public IEnumerable<ProductResponse>? RecommendedProducts
    => CatalogOverviewState.Value?.RecommendedProducts;

}