@page "/"
@using BodyRocky.Core.Contracts.Responses.ProductResponses

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

Welcome to your new app.

@if (_myProduct is not null)
{
    <p>@_myProduct.ProductId.ToString()</p>
    <p>@_myProduct.ProductName</p>
}

<SurveyPrompt Title="How is Blazor working for you?"/>


@code {

    private ProductResponse? _myProduct;

    protected override void OnInitialized()
    {
        _myProduct = new ProductResponse
        {
            ProductId = Guid.NewGuid(),
            ProductDescription = "Une description",
            ProductName = "NomDeProduit",
            ProductPrice = 100m,
            ProductURL = "/products/1",
            IsFeatured = false
        };
    }

}