@page "/register"

<!-- login -->
<div class="contain py-16">
  <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
    <h2 class="text-2xl uppercase font-medium mb-1">
      Creer un compte
    </h2>
    <p class="text-gray-600 mb-6 text-sm">
      Inscrivez-vous pour accéder à votre compte
    </p>
    <form action="#" autocomplete="off" method="post">
      <div class="space-y-2">
        <div>
          <label class="text-gray-600 mb-2 block" for="name">
            Nom complet
          </label>
          <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" id="name" name="name"
                 placeholder="fulan fulana"
                 type="text">
        </div>
        <div>
          <label class="text-gray-600 mb-2 block" for="email">
            Adresse email
          </label>
          <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" id="email" name="email"
                 placeholder="votreadresse.@@domain.com"
                 type="email">
        </div>
        <div>
          <label class="text-gray-600 mb-2 block" for="password">
            Mot de passe
          </label>
          <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" id="password" name="password"
                 placeholder="*******"
                 type="password">
        </div>
        <div>
          <label class="text-gray-600 mb-2 block" for="confirm">
            Confirmer le mot de passe
          </label>
          <input class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400" id="confirm" name="confirm"
                 placeholder="*******"
                 type="password">
        </div>
      </div>
      <div class="mt-6">
        <div class="flex items-center">
          <input class="text-primary focus:ring-0 rounded-sm cursor-pointer" id="aggrement" name="aggrement"
                 type="checkbox">
          <label class="text-gray-600 ml-3 cursor-pointer" for="aggrement">
            J'accepte les <a class="text-primary" href="#">termes et conditions</a>
          </label>
        </div>
      </div>
      <div class="mt-4">
        <button class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"
                type="submit">
          creer un compte
        </button>
      </div>
    </form>

    <!-- login with -->
    <div class="mt-6 flex justify-center relative">
      <div class="text-gray-600 uppercase px-3 bg-white z-10 relative">
        Ou inscrivez-vous avec
      </div>
      <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
    </div>
    <div class="mt-4 flex gap-4">
      <a class="w-1/2 py-2 text-center text-white bg-blue-800 rounded uppercase font-roboto font-medium text-sm hover:bg-blue-700"
         href="#">facebook</a>
      <a class="w-1/2 py-2 text-center text-white bg-red-600 rounded uppercase font-roboto font-medium text-sm hover:bg-red-500"
         href="#">google</a>
    </div>
    <!-- ./login with -->

    <p class="mt-4 text-center text-gray-600">
      Vous avez déjà un compte? 
      <NavLink class="text-primary" href="@Routes.LOGIN_ROUTE">
        Connectez-vous
      </NavLink>
    </p>
  </div>
</div>
<!-- ./login -->

@code {

}