@page "/profile"
@layout AccountLayout

<!-- info -->
<div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
  <h4 class="text-lg font-medium capitalize mb-4">
    Profile information
  </h4>
  <div class="space-y-4">
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="first">First name</label>
        <input class="input-box" id="first" name="first" type="text">
      </div>
      <div>
        <label for="last">Last name</label>
        <input class="input-box" id="last" name="last" type="text">
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="birthday">Birthday</label>
        <input class="input-box" id="birthday" name="birthday" type="date">
      </div>
      <div>
        <label for="gender">Gender</label>
        <select class="input-box" id="gender" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label for="email">Email Address</label>
        <input class="input-box" id="email" name="email" type="email">
      </div>
      <div>
        <label for="phone">Phone number</label>
        <input class="input-box" id="phone" name="phone" type="text">
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button class="py-3 px-4 text-center text-white bg-primary border border-primary rounded-md hover:bg-transparent hover:text-primary transition font-medium"
            type="submit">
      sauvegarder les modifications
    </button>
  </div>
</div>
<!-- ./info -->

@code {

}